body {
    border: 20px solid #bdc3c7;
    padding: 20px;
    margin: 20px auto; /* 20 px top and bottom, auto left and right */

    /* Make it at least 80% width but no more than 700px */
    max-width: 700px;
    width: 80%;

    font-family: Source Sans Pro;
}

.date {
    color: #3498db;
    text-transform: uppercase;
    margin: 0;
    letter-spacing: 0.2rem; /* Like em except they are not set by the parent element but the root element of the page */
    font-weight: bold;
}

.post {
    margin-bottom: 20px;
}

h2 {
    color: #2c3e50;
    font-size: 2.0rem;
}

.quote {
    border-left: 5px solid #bdc3c7;
    padding-left: 5px;
}

/* Search for hr styles to get this kind of thing */
hr {
    height: 30px;
    border-style: solid;
    border-color: #bdc3c7;
    border-width: 1px 0 0 0;
    border-radius: 20px;
    /* border: 1px solid #bdc3c7; */
}

hr:before {
    display: block;
    content: "";
    height: 30px;
    margin-top: -31px;
    border-style: solid;
    border-color:#bdc3c7;
    border-width: 0 0 1px 0;
    border-radius: 20px;
    /* border: 1px solid #bdc3c7; */
}