html {
    height: 100%;
}

body {
    background: url(https://source.unsplash.com/gc0BvNeGfuM/);
    background-size: cover;
    background-position: center;
    background-position-y: top;
    font-family: Lato;
    color: white;
}

#content {
    text-align: center;
    padding-top: 25%;
    text-shadow: 0px 0px 23px lightpink,
                 0px 0px 13px blueviolet,
                 0px 0px 3px darkmagenta;
}

h1 {
    font-weight: 700;
    font-size: 5.0em;
}

hr {
    width: 440px;
    border-top: 1px solid #f8f8f8;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.btn-default {
    color: darkmagenta;
}

.btn-default:hover {
    color: darkmagenta;
    /* text-shadow: 0px 0px 4px pink; */
    background: lightpink;
}