body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: darkslategrey;
    color: bisque;
}

.winner {
    color: coral;
}

#divContent {
    width: 50%;
    margin: 0 auto;
}

#divPlayingTo, #divPlayerBtns, #divReset {
    text-align: center;
    padding: 5px;
}

h1, h2 {
    text-align: center;
}

h2 {
    padding-top: 20px;
}