/* Tags */
html {
        /* CSS gradient from uigradients.com */
      background: #649173;                                                /* fallback for old browsers */
      background: -webkit-linear-gradient(to right, #649173, #DBD5A4);  /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(to right, #649173, #DBD5A4 );        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

body {
    font-family: Roboto;
}

h1 {
    background: #2980b9;
    color: white;
    margin: 0;
    padding: 10px 20px;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: normal;
}

input {
    font-size: 18px;
    color: #2980b9;
    background-color: #f7f7f7;
    width: 100%;
    padding: 13px 13px 13px 20px;
    box-sizing: border-box;
    border: 3px solid rgba(0, 0, 0, 0);
}

input:focus {
    background-color: white;
    border: 3px solid #2980b9;
    outline: none;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    background-color: #fff;
    height: 40px;
    line-height: 40px;
    color: #666;
}

/* Renders alternating lis */
li:nth-child(2n) {
    background-color: #f7f7f7;
}

span {
    color: white;
    background-color: #e74c3c;
    width: 0px;
    height: 40px;
    margin-right: 20px;
    text-align: center;
    display: inline-block;
    transition: 0.2s linear;
    opacity: 0;
}

li:hover span {
    width: 40px;
    opacity: 1.0;
}

/* Classes */
#container {
    width: 360px;
    margin: 100px auto;    
    background-color: #f7f7f7;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
    transform: scaleX(1.1); /* Added this to emulate Colt's screen, which looks stretched. */
}

/* IDs */
.completed {
    color: gray;
    text-decoration: line-through;
}

.fa-plus {
    float: right;
}
