img {
    width: 30%;
    float: left;
    margin: 1.66%;
}

p {
    font-family: Raleway;
    margin-left: 1.66%;
    font-size: 23px;
    font-weight: 800;
    text-transform: uppercase;
    width: 30%;
    border-bottom: 1px solid #f1f1f1;
    padding-bottom: 20px; /* Padding is inside the border, margin is outside the border */
}