/* font-family */
h1 {
    font-family: Indie Flower;
}
p {
    font-family: Raleway;
}

/* font-size */
body {
    font-size: 10px; /* Actual font size in pixels. */
}

h1 {
    font-size: 5.0em; /* Font size as a ratio of the size of the element's parent (1.0 is 100% percent) */
}

p {
    font-size: 2.0em; /* Font size is twice as big as h1 and 10 times as big as body */
}

span {
    font-size: 2.0em;
}

/* font-weight */
p {
    font-weight: normal; /* Can use numeric value between 100 (lightest) and 800 (heaviest) */
}

/* line-height */
p {
    line-height: 1.5; /* Default is 1 */
}

/* text-align */
h1 {
    text-align: right;
}

p {
    text-align: center;
}

/* text-decoration */
p {
    text-decoration: dotted; 
}

h1 {
    text-decoration: underline;
}