/* .defaultBG {
    color: black;
    background-color: white;
    font-family: 'Times New Roman', Times, serif;
} */

.colourBG {
    color: blanchedalmond;
    background-color: purple;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
