h1 {
    color: rgba(0, 200, 100, 0.8);
    /* border-color: purple;
    border-width: 1px;
    border-style: solid; */
    border: 1px dashed rgb(49, 0, 128);
}
h4 {
    background: rgb(255, 100, 80);
}
body {
    background: pink;
    /* background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTkF_0EStOuE8gcJFqVu_Wy1cS6bkuQBPpiVbca4ERZnBt5z_ol);
    background-repeat: no-repeat;
    background-size: cover; */
}
/* h1 {
    color: rgba(191, 127, 127, .3); /* Last value is transparency
}
h2 {
    color: #4B0082;
}
h3 {
    color: #FF1493;
} */
