h1 {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

table {
    margin: auto;
}

td {
    width: 120px;
    height: 120px;
}

.hborder {
    border-top: 2px black solid;
    border-bottom: 2px black solid;
}

.vborder {
    border-left: 2px black solid;
    border-right: 2px black solid;
}
